
body{
    background-color: hsla(350, 100%, 88%, 0.592);

}
header {
    padding:20px;
    background-color: rgb(236, 6, 113);
    border-bottom:2px solid white;
    font-size:32px;
    color:rgb(226,,43,137);
}
#titulo {
    font-size: 30px;
    text-align: center;
    color:  rgb(83, 5, 49);
}
.texto {
    text-align: center;
    color: rgb(226, 43, 137);
    font-size: 20px;
}
#banner {
    background-color: white;
    width: 40%;
    display: block;
    background-color: linear-gradient (#df0fd535, #de9fdb);
    color: rgba(108, 60, 105, 0.208);

   
}
.lista {
    color: #df0fd5;
}
.cabecalho-titulo{
    text-align: center;
    color: rgb(74, 3, 40);
    font-size: 20px;
}
#Logo {
    width: 10%;
    padding: 5px;
    background-color: rgba(255, 6, 238, 0.208);
    margin: 20px;
    border-radius: 10px;  
}
.cabecalho-titulo-Logo{
    text-align: center
}
